@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --big-color:#000000;
    --primary-color:#FFE1FF;
    --secundary-color:#6C48C5;
    --font:"Dancing+Script",sans-serif;
}

body{
    background-color: var(--big-color);
    color: var(--primary-color);
    font-family: var(--font);
    
}